body {
  margin: 0;
}

.welcome-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.meal-card {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  border-color: black;
  border: solid;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  background: white;
  transition: transform 0.2s ease-in-out;
}

.meal-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.meal-card h1 {
  font-size: 18px;
  margin: 10px 0;
}

.meal-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.pop-up {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 30px 3px;
  margin-top: 20px;
  text-align: center;
  color: red;
  border: solid;
}
.pop-up h1 {
  color: blue;
}
.pop-up p {
  color: black;
}
.pop-up button {
  width: 50px;
}
